name: Test
on: [push]
jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - uses: pnpm/action-setup@v4
      - uses: actions/setup-node@v6
        with:
          node-version-file: package.json
      - run: pnpm install
      - name: Lint
        run: pnpm run lint
      - name: Run unit tests
        run: pnpm run test:unit
